=content_tag_for :li, customer, class: 'row-fluid' do
  %span.content.span10
    #{formated_email_link_for(customer).html_safe}
    %span.secondary
      #{pluralize(customer.documents.delete_if{|d| d.status==Document::Statuses[:valid] }.size, 'missing document')}
  %span.btn-toolbar.span2
    %span.btn-bar.pull-right
      %span.btn-group
        = link_to 'Delete', customer, remote: true, method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: 'Are you sure?' }
      %span.btn-group
        #{link_to 'Show', customer_path(customer), class: 'btn btn-mini'}
