=form_for @customer, remote: true, html: { class: 'well form-horizontal' } do |f|
  %fieldset
    %legend #{controller.action_name.capitalize} Customer
    =render 'shared/error_messages', object: @customer

    -if controller.action_name=='new' || controller.action_name=='create' then
      .control-group
        =f.label :file_number, class: 'control-label'
        .controls
          =f.text_field :file_number, placeholder: '3892AC8DF'

    -else
      .control-group
        =f.label :email, class: 'control-label'
        .controls
          =f.text_field :email, placeholder: 'Berry.STRAW@Fruits.shake'

      .control-group
        =f.label :first_name, class: 'control-label'
        .controls
          =f.text_field :first_name, placeholder: 'Berry'

      .control-group
        =f.label :last_name, class: 'control-label'
        .controls
          =f.text_field :last_name, placeholder: 'STRAW'

      .control-group
        =f.label :address, class: 'control-label'
        .controls
          =f.text_field :address, placeholder: '3, Basket St.'

      .control-group
        =f.label :city, class: 'control-label'
        .controls
          =f.text_field :city, placeholder: 'Smoothie City'

      .control-group
        =f.label :zip, class: 'control-label'
        .controls
          =f.text_field :zip, placeholder: '95014'

    .form-actions
      =f.submit button_text_for(controller), class: 'btn btn-primary'
