- provide(:title, 'Customers')
%section.row-fluid
  %h3.span11 Customers
  .span1= link_to 'New', new_customer_path, remote: true, class: 'btn btn-mini pull-right'
%ul#customers.listing= render @customers
