- provide(:title, @customer.email)
.row-fluid
  .column.span3
    %section.row-fluid
      %h3.span10= formated_email_link_for(@customer).html_safe
      .span2= link_to 'Edit', edit_customer_path(@customer), remote: true, class: 'btn btn-mini pull-right'
    .row-fluid
      %p #{@customer.address}
      %p #{@customer.city}, #{@customer.zip}
  .column.span9
    = render 'documents/documents_section', customer: @customer
