%section.row-fluid
  %h3.span11 Documents
  %span.btn-toolbar.span1
    %span.btn-group.pull-right
      .span3= link_to 'New', new_customer_document_path(customer), remote: true, class: 'btn btn-mini'
%ul#documents.listing= render customer.documents, customer: customer
