=content_tag_for :li, document, class: 'row-fluid' do
  %span.content.span11
    %span.pictures.document-status-bubbler{ data: { url: document.picture.url(:medium), text: document.results } }
      =image_tag document.status_picture_url, size: '16x16'
      =image_tag document.picture.url(:thumb), size: '32x32'
    %span.text
      #{Document::Kinds.hash.invert[document.kind || 0].to_s.humanize}
  %span.btn-toolbar.span1
    %span.btn-group.pull-right
      = link_to 'Edit', edit_customer_document_path(document.customer, document), remote: true, class: 'btn btn-mini'
