=form_for [ @customer, @document ], remote: true, html: { multipart: true, class: 'well form-horizontal' } do |f|
  %fieldset

    %legend #{controller.action_name.capitalize} Document
    =render 'shared/error_messages', object: @document

    / .control-group
    /   =f.label :status, class: 'control-label'
    /   .controls
    /     =f.select :status, Document::Statuses.hash.collect { |k,v| [ k.to_s.humanize, v ] }

    / .control-group
    /   =f.label :kind, class: 'control-label'
    /   .controls
    /     =f.select :kind, Document::Kinds.hash.collect { |k,v| [ k.to_s.humanize, v ] }

    .control-group
      =f.label :picture, class: 'control-label'
      .controls
        =f.file_field :picture, multiple: false, placeholder: 'Picture...'

    =image_tag @document.picture.url if @document.picture_file_name

    .form-actions=f.submit button_text_for(controller), class: 'btn btn-primary'
