- provide(:title, @document.file_name)
.row-fluid
  .column.span5
    %section.row-fluid
      %h3.span9= @document.status
      .span3= link_to 'Edit', edit_customer_document_path(@customer,@document), class: 'btn btn-mini pull-right'
