.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to 'Remote Recognizer', root_path, class: 'brand'
      %nav
        %ul.nav
        %ul.nav.pull-right
          = render 'layouts/menu'
