!!!
%html
  %head
    %title= full_title yield(:title)
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - flash.each do |key, msg|
        %div{:class => "alert alert-#{key}", :id => "msg-#{key}"}
          %a.close{"data-dismiss" => "alert", :href => "#"} ×
          %p
            = msg
        :javascript
          if(' key ' != 'error') {
            $('#msg- key ').delay(1500).fadeOut(1000);
          }

      #modal-editor.modal.hide.fade
        .modal-header
          %a.close{"data-dismiss" => "modal", :href => "#"} ×
          %h3 Form
          #modal-editor-body.modal-body

      #body-content
        = yield
      = render 'layouts/footer'
      = debug params if Rails.env.development?
